@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
     scroll-behavior: smooth !important;
}

.gmap_canvas {
     overflow: hidden;
     background: none !important;
     height: 500px;
     width: 932px;
}
.mapouter {
     position: relative;
     text-align: right;
     height: 500px;
     width: 932px;
}
